[project]
	description = An open source library for multiview geometry and structure from motion
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Chris Sweeney (sweeneychris)
[access "refs/for/refs/*"]
	read = group user/Chris Sweeney (sweeneychris)
	push = group user/Chris Sweeney (sweeneychris)
	label-Code-Review = -2..+2 group user/Chris Sweeney (sweeneychris)
	label-Verified = -1..+1 group user/Chris Sweeney (sweeneychris)
	rebase = group user/Chris Sweeney (sweeneychris)
	removeReviewer = group user/Chris Sweeney (sweeneychris)
	submit = group user/Chris Sweeney (sweeneychris)
[access "refs/heads/*"]
	read = group user/Chris Sweeney (sweeneychris)
	create = group user/Chris Sweeney (sweeneychris)
	push = +force group user/Chris Sweeney (sweeneychris)
	pushMerge = group user/Chris Sweeney (sweeneychris)
[access "refs/tags/*"]
	push = +force group user/Chris Sweeney (sweeneychris)
	pushTag = group user/Chris Sweeney (sweeneychris)
	pushSignedTag = group user/Chris Sweeney (sweeneychris)
